<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img id="logo" src="assets/githubLogo.png">
    <span class="headline">Github Explorer</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigationBar" aria-controls="navigationBar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navigationBar">
    <div class="ml-auto form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" placeholder="Type a username" #userNameInput type="text">
      <button (click)="emitUsername(userNameInput.value)" class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
    </div>
  </div>
</nav>
