.userIcon {
  display: flex;
  justify-content: center;
}

.card {
  border-color: #e2e2e2;
}

.userInfo {
  margin-bottom: 30px;

  img {
    height: 200px;
  }
}

.id {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.name {
  text-transform: capitalize;
}

.card-header-left {
  display: flex;
}

.infoItem {
  display: flex;
  justify-content: space-between;
}
